.content {
  width: auto;
  height: 100%;
  background-image: linear-gradient(to top, #1d1001, rgba(114, 65, 6, 0.72), #e8ad62);
  padding-left: 2%;
}

.content .logo {
  padding-top: 17%;
}

.content .main-logo {
  background-image: url("../images/logo1.png");
  width: 100%;
  height: 19%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.content .text-content{
  padding-top: 23px;
}

.content >.text-content > p {
  font-family: Roboto;
  font-size: 25px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffcea6;
}
@media screen and (min-width: 480px) {
  .content .logo {
    padding-top: 50%;
  }

}

@media screen and (min-width: 600px) {
  .content .logo {
    padding-top: 30%;
  }
}

@media screen and (min-width: 1024px) {
  .content .logo {
    padding-top: 17%;
  }
}
